//Styles for application
/*Body-Tag Styles*/
.bodyClass{
    font-family:sans-serif;
    background-color: blueviolet;
  }

  /*Styles for Show-Contact and Add-Contact sections*/
  .panel{
    background:rgb(17, 17, 17);
    padding-top:0px;
    padding:10px;
    width:50%;
    max-width:600px;
    margin:0px;
        h3{
            color: white;
            text-align: center;
        }
  }

  /*Style for Input fields in Add-Contact section*/
  .textBox{
    width:100%;
    box-sizing:border-box;
    font-size:16px;
    margin-top:0.5em;
    padding:0.5em;
  }
 
 /*Style for Add-Contact button*/ 
.submitBtn{
      width: 100%;
      margin-top: 10px;
  }

  /*Style for List-items in Show-All-Contacts Section*/
  .contact-item{
      color: white;
  }

  /*SHOW-CONTACT-DETAILS WINDOW*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 50%; 
    height: 60%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /*Style for Error-messages in Add-Contact section*/
  .errorMsg{
    margin: 5px 0px 5px 0px;  
    color: red;
  }