//Styles for Navigation-Bar for the application
.navbar{
    width:95%;
    max-width:600px;
    text-align:left;
    margin:20px;
    margin-bottom:0px;
    li{
        list-style-type: none;
    display:inline-block;
      background:rgba(256,256,256,1);
      padding:10px;
      margin:0 10px;
      &:hover {
        background-color: #000;
        color: white;
      }
    }
    li.active{
      background-color:rgba(0,0,256,0.5);
    }
    
  }